.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
    height: 100vh;
  }
  .grid-item {
    background-color: black;
    border: 1px solid black;
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .one{
    background-image: url(images/space6.jpg);
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .two{
    background-image: url(images/space5.jpg);
  }

  .three{
    background-image: url(images/space3.jpg);
  }

  .four{
    background-image: url(images/space4.jpg);
  }

  .five{
    background-image: url(images/space2.jpg);
  }

  .six{
    background-image: url(images/space1.jpg);
  }